/* All elements style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Root style */
:root {
  font-size: 16px;
  --font-fam-lucinda: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  --font-fam-impact: Impact, "Arial Narrow Bold", sans-serif;
  --color-a-blue: aliceblue;
  --color-green: green;
  --color-blue: blue;
}
/* Small phones style */
@media only screen and (min-width: 360px) {
  .img-logo {
    display: flex;
    margin-top: -3rem;
    margin-right: 1rem;
  }
}
/* Tablets and large phones style */
@media only screen and (min-width: 480px) {
  .img-logo {
    display: flex;
    margin-top: -3rem;
    margin-right: 3rem;
  }
}
@media only screen and (min-width: 600px) {
  .header {
    width: 100vw;
    height: 20vh;
  }
  .hamburger {
    position: relative;
    left: 39rem;
  }
  .side-menu ul {
    position: relative;
    left: 14rem;
  }
  .side-menu ul li {
    display: inline;
    padding-right: 1rem;
  }
  #logo {
    position: relative;
    right: 65vw;
  }
  .text {
    width: 45%;
    height: 100%;
    position: relative;
    right: 13rem;
  }
  .images {
    width: 10vw;
    height: 15vh;
    position: relative;
    top: 12rem;
    left: 8rem;
  }
  .main {
    position: relative;
    bottom: 30vh;
  }
  #second-img {
    position: relative;
    bottom: 48vh;
    right: 14vw;
  }
}
@media only screen and (min-width: 1000px) {
  .hamburger {
    position: relative;
    top: 3vh;
    left: 14vw;
    float: right;
  }
  #logo {
    right: 70vw;
    bottom: 5vw;
  }
  .side-menu ul {
    left: 40vw;
  }
  .images {
    left: 20vw;
  }
  #second-img {
    position: relative;
    bottom: 37vh;
    right: 10.5vw;
  }
}
/* Laptops/desktops style */
@media only screen and (min-width: 1200px) {
  .hamburger {
    position: relative;
    left: inherit;
    right: 10vw;
  }
  /* .hamburger:hover .x-top {
    transform: rotate(0.15turn);
    position: absolute;
  }
  .hamburger:hover .x-center {
    display: none;
  }
  .hamburger:hover .x-bottom {
    transform: rotate(-0.15turn);
  } */
  .side-menu ul {
    position: relative;
    left: 52vw;
  }
  #logo {
    top: 3vh;
  }
  #first-img {
    position: relative;
    bottom: 10vh;
  }
  #second-img {
    position: relative;
    bottom: 61vh;
    right: 6vw;
  }
}
/* Body style */
body {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  background-image: url(../img/bg_001.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Header style */
/* Logo and Hamburger menu */
.header {
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}
/* Hamburger menu style */
.hamburger {
  width: 3.5rem;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}
/* Hamburger menu individual style */
.hamburger div {
  width: 3.5rem;
  height: 0.2rem;
  background-color: whitesmoke;
  border-radius: 25%;
  transition: 0.5s;
}

/* Menu style */
.menu {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  top: 2rem;
  left: 2rem;
}
/* Navigation menu style */
.side-menu ul {
  font-family: var(--font-fam-lucinda);
  font-size: medium;
  font-weight: bold;
  color: var(--color-a-blue);
  list-style: none;
  display: block;
}

.side-menu ul li {
  padding-bottom: 1rem;
}
.side-menu {
  display: none;
}

/* Logo style*/
.img-logo {
  width: 10rem;
  height: 4rem;
  display: block;
  position: relative;
  top: -4rem;
  right: 0.5rem;
}
/* Main content style */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
/* Right side style*/
.text {
  font-family: var(--font-fam-impact);
  color: var(--color-a-blue);
  font-size: 1.3rem;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* H1 style  */
h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}
/* Paragraph style */
p {
  font-weight: bold;
  margin-bottom: 2rem;
}
/* Buttons style */
.button {
  width: 9rem;
  height: 3rem;
  color: var(--color-a-blue);
  font-weight: bold;
  font-size: large;
  border-radius: 7px;
  margin-bottom: 1rem;
}
/* First button style */
button:first-child {
  background-color: var(--color-green);
  border: var(--color-green);
  margin-right: 1rem;
}
/* Seccond button style */
button:nth-child(2) {
  background-color: var(--color-blue);
  border: var(--color-blue);
}
/* Left side style*/
/* Images style */
.images {
  display: block;
  margin-left: 0.5rem;
}
/* First image style */
#first-img {
  width: 15rem;
  height: 30rem;
  margin-bottom: 2rem;
}
/* Seccond image style */
#second-img {
  width: 15rem;
  height: 30rem;
  margin-bottom: 2rem;
}
