/* All elements style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Root style */
:root {
  font-size: 16px;
  --font-fam-lucinda: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  --font-fam-impact: Impact, "Arial Narrow Bold", sans-serif;
  --color-a-blue: aliceblue;
  --color-green: green;
  --color-blue: blue;
}

/* Tablets and large phones style */
@media only screen and (min-width: 600px) {
  .img-logo {
    display: flex;
    margin-top: -4rem;
    margin-right: 5rem;
  }
  .main {
    flex-direction: column;
  }
}
/* Laptops/desktops style */
@media only screen and (min-width: 1500px) {
  .hamburger div {
    display: none;
  }
}
/* Body style */
body {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  background-image: url(../img/bg_001.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Header style */
/* Logo and Hamburger menu */
.header {
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
/* Hamburger menu style */
.hamburger {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  margin-bottom: 3rem;
}
.hamburger div {
  width: 3.5rem;
  border: 3px white solid;
}
/* Menu style */
.menu {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  top: 2rem;
  left: 3rem;
}
/* Navigation menu style */
.side-menu ul {
  font-family: var(--font-fam-lucinda);
  font-size: medium;
  font-weight: bold;
  color: var(--color-a-blue);
  list-style: none;
  display: block;
}

.side-menu ul li {
  padding-bottom: 1rem;
}
.side-menu {
  display: none;
}

/* Logo style*/
.img-logo {
  width: 14rem;
  height: 6rem;
  display: block;
  position: relative;
  top: -6rem;
  right: 1rem;
}
/* Main content style */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
/* Right side style*/
.text {
  font-family: var(--font-fam-impact);
  color: var(--color-a-blue);
  font-size: 1.3rem;
  padding-left: 2.5rem;
  margin-bottom: 2rem;
}
/* H1 style  */
h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}
/* Paragraph style */
p {
  font-weight: bold;
  margin-bottom: 2rem;
}
/* Buttons style */
.button {
  width: 9rem;
  height: 3rem;
  color: var(--color-a-blue);
  font-weight: bold;
  font-size: large;
  border-radius: 7px;
  margin-bottom: 1rem;
}
/* First button style */
button:first-child {
  background-color: var(--color-green);
  border: var(--color-green);
  margin-right: 1rem;
}
/* Seccond button style */
button:nth-child(2) {
  background-color: var(--color-blue);
  border: var(--color-blue);
}
/* Left side style*/
/* Images style */
.images {
  display: block;
  margin-left: 2rem;
}
/* First image style */
#first-img {
  width: 15rem;
  height: 30rem;
  margin-bottom: 2rem;
}
/* Seccond image style */
#second-img {
  width: 15rem;
  height: 30rem;
  margin-bottom: 2rem;
}

/* 
Phones style
@media only screen and (max-width: 600px) {
}
Tablets and large phones style
@media only screen and (min-width: 600px) {
  .header {
    flex-direction: column;
  }
  .menu {
    width: 100vw;
    height: 10vh;
    justify-content: center;
    flex-direction: column;
  }
}
Laptops/desktops style
@media only screen and (min-width: 1500px) {
  .hamburger div {
    display: none;
  }
}
Body style
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/bg_001.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
Header style
Logo and Hamburger menu
.header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}
Hamburger menu style
.hamburger {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
}
.hamburger div {
  width: 2.5rem;
  border: 2px black solid;
}
Menu style
.menu {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}
Navigation menu style
.side-menu ul {
  width: 40vw;
  height: 15vh;
  font-family: var(--font-fam-lucinda);
  font-size: medium;
  font-weight: bold;
  color: var(--color-a-blue);
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

Logo style
.img-logo {
  width: 14rem;
  height: 6rem;
}
Main content style
.main {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
Right side style
.text {
  font-family: var(--font-fam-impact);
  color: var(--color-a-blue);
  font-size: 1.3rem;
  width: 32%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
H1 style 
h1 {
  font-size: 3rem;
}
Paragraph style
p {
  font-weight: bold;
}
Buttons style
.button {
  width: 13rem;
  height: 4rem;
  color: var(--color-a-blue);
  font-weight: bold;
  font-size: large;
  border-radius: 7px;
}
First button style
button:first-child {
  background-color: var(--color-green);
  border: var(--color-green);
  margin-right: 1rem;
}
Seccond button style
button:nth-child(2) {
  background-color: var(--color-blue);
  border: var(--color-blue);
}
Left side style
Images style
.images {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
First image style
#first-img {
  width: 20rem;
  height: 40rem;
}
Seccond image style
#second-img {
  width: 20rem;
  height: 40rem;
  position: relative;
  top: 1rem;
  right: 29.3rem;
} */
