/* Body style */
body {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  background-image: url(../../img/bg_001.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
