// Buttons style
.buttons {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.button {
  font-size: 1em;
  font-weight: bold;
  width: 6em;
  height: 2.5em;
  margin-bottom: 1em;
  color: $aliceblue;
  border-radius: 7px;
  // First button style
  &:first-child {
    background-color: $green;
    border: none;
  }
  // Seccond button style
  &:nth-child(2) {
    background-color: $blue;
    border: none;
  }
}
