/* Logo style*/
.img-logo {
  width: 6rem;
  height: 3rem;
  display: flex;
  position: relative;
}
/* Images style */
.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
/* First image style */
#first-img {
  width: 8rem;
  height: 16rem;
  margin-bottom: 1em;
}
/* Seccond image style */
#second-img {
  width: 8rem;
  height: 16rem;
  margin-bottom: 2em;
}
