/* Main content style */
.main {
  width: 100%;
  height: 100%;
  font-family: $font-fam-impact;
  font-size: 1.3em;
  color: $color-a-blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 2em 1em 1em 1em;
}
