/* All elements style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* Body style */
body {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  background-image: url(../img/bg_001.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Header style */
/* Logo and Hamburger menu */
.header {
  width: 100%;
  height: auto;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

/* Hamburger menu style */
.hamburger {
  width: 3.5rem;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

/* Hamburger menu individual style */
.hamburger div {
  width: 3.5rem;
  height: 0.3rem;
  background-color: whitesmoke;
  border-radius: 25%;
  transition: 0.5s;
}

/* Menu style */
.menu {
  display: flex;
  position: relative;
}

/* Side menu/ Display none */
.side-menu {
  display: none;
  /* Navigation menu style */
  /* Lists style */
}
.side-menu ul {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: medium;
  font-weight: bold;
  color: aliceblue;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.side-menu li {
  padding-bottom: 0.5em;
}

/* Main content style */
.main {
  width: 100%;
  height: 100%;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  font-size: 1.3em;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 2em 1em 1em 1em;
}

/* Logo style*/
.img-logo {
  width: 6rem;
  height: 3rem;
  display: flex;
  position: relative;
}

/* Images style */
.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

/* First image style */
#first-img {
  width: 8rem;
  height: 16rem;
  margin-bottom: 1em;
}

/* Seccond image style */
#second-img {
  width: 8rem;
  height: 16rem;
  margin-bottom: 2em;
}

/* Textarea */
.text-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 1em;
}

/* H1 style  */
h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

/* Paragraph style */
p {
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* Buttons style */
.buttons {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.button {
  font-size: large;
  font-weight: bold;
  width: 7em;
  height: 3em;
  margin-bottom: 1em;
  color: aliceblue;
  border-radius: 7px;
  /* First button style */
  /* Seccond button style */
}
.button:first-child {
  background-color: green;
  border: none;
}
.button:nth-child(2) {
  background-color: blue;
  border: none;
}

/* Media Query */
/* Media Query for low resolution  Tablets, Ipads */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* Menu style */
  .side-menu {
    display: none;
  }

  /* Main content area style */
  .main {
    flex-direction: column-reverse;
  }

  /* Textarea style */
  .text-area {
    padding-bottom: 2em;
  }

  /* Buttons style */
  .buttons {
    flex-direction: row;
  }

  .button {
    width: 11em;
    height: 3.5em;
  }
}

/*# sourceMappingURL=main.css.map */
