/* All elements style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* Body style */
body {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  background-image: url(../img/bg_001.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Header style */
/* Logo and Hamburger menu */
.header {
  width: 100%;
  height: auto;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

/* Hamburger menu style */
.hamburger {
  width: 3.5rem;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

/* Hamburger menu individual style */
.hamburger div {
  width: 3.5rem;
  height: 0.3rem;
  background-color: whitesmoke;
  border-radius: 25%;
  transition: 0.5s;
}

/* Menu style */
.menu {
  display: flex;
  position: relative;
}

/* Side menu/ Display none */
.side-menu {
  display: none;
  /* Navigation menu style */
  /* Lists style */
}
.side-menu ul {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: medium;
  font-weight: bold;
  color: aliceblue;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.side-menu li {
  padding-bottom: 0.5em;
}

/* Main content style */
.main {
  width: 100%;
  height: 100%;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  font-size: 1.3em;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 2em 1em 1em 1em;
}

/* Logo style*/
.img-logo {
  width: 6rem;
  height: 3rem;
  display: flex;
  position: relative;
}

/* Images style */
.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

/* First image style */
#first-img {
  width: 8rem;
  height: 16rem;
  margin-bottom: 1em;
}

/* Seccond image style */
#second-img {
  width: 8rem;
  height: 16rem;
  margin-bottom: 2em;
}

/* Textarea */
.text-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 1em;
}

/* H1 style  */
h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

/* Paragraph style */
p {
  font-weight: bold;
  margin-bottom: 1.5em;
}

.buttons {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.button {
  font-size: 1em;
  font-weight: bold;
  width: 6em;
  height: 2.5em;
  margin-bottom: 1em;
  color: aliceblue;
  border-radius: 7px;
}
.button:first-child {
  background-color: green;
  border: none;
}
.button:nth-child(2) {
  background-color: blue;
  border: none;
}

/* Media Query */
/* Media Query for low resolution  Tablets, Ipads */
@media only screen and (min-width: 360px) and (max-width: 480px) {
  .buttons {
    flex-direction: row;
  }
}
/* Media Query */
/* Media Query for low resolution  Tablets, Ipads */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* Menu style */
  .side-menu {
    display: none;
  }

  /* Main content area style */
  .main {
    flex-direction: column-reverse;
  }

  /* Textarea style */
  .text-area {
    width: 80%;
    padding-bottom: 2em;
  }

  /* Buttons style */
  .buttons {
    flex-direction: row;
  }

  .button {
    width: 8em;
    height: 2.5em;
  }
}
/* Media Query for Tablets Ipads portrait mode */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Header style */
  .header {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  /* Menu style */
  .side-menu {
    display: none;
  }
  .side-menu ul {
    position: relative;
    right: 3em;
  }

  /* Main content area style */
  .main {
    flex-direction: row-reverse;
  }

  /* Textarea style */
  .text-area {
    width: 65%;
    padding-bottom: 2em;
  }

  /* Buttons style */
  .buttons {
    flex-direction: row;
  }

  .button {
    width: 11em;
    height: 3.5em;
  }
}
/* Media Query for Laptops and Desktops */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  /* Body style */
  body {
    padding: 5rem 5rem 0 5rem;
  }

  /* Header style */
  .header {
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 2rem 3rem 0 3rem;
  }

  /* Menu style */
  .side-menu {
    display: flex;
  }

  .side-menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    position: relative;
    left: 1.5em;
  }

  .side-menu ul li {
    padding-top: 1.5em;
    padding-left: 1em;
  }

  /* Hamburger menu none style */
  .hamburger {
    display: none;
  }

  /* Main style */
  .main {
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  /* Textarea style */
  .text-area {
    justify-content: center;
    align-items: flex-start;
  }

  /* H1 style */
  h1 {
    padding-left: 0;
  }

  /* Buttons */
  .buttons {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding-right: 3.5em;
  }

  .button {
    width: 10em;
    height: 3em;
    margin-right: 2em;
  }

  /* Images style */
  .images {
    justify-content: center;
    align-items: flex-end;
    flex-direction: row-reverse;
    position: relative;
  }

  #second-img {
    position: relative;
    top: 2rem;
    left: 4.2rem;
  }
}
/* Media Query for Large screens */
@media only screen and (min-width: 1281px) {
  /* Body style */
  body {
    padding: 5rem 20rem 0 20rem;
  }

  /* Header style */
  .header {
    width: 65vw;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 2rem 3rem 0 3rem;
  }

  /* Logo style */
  .img-logo {
    width: 10rem;
    height: 4rem;
  }

  /* Menu style */
  .side-menu {
    display: flex;
  }

  .side-menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    position: relative;
    left: 1.5em;
  }

  .side-menu ul li {
    padding-top: 1.5em;
    padding-left: 1em;
  }

  /* Hamburger menu none style */
  .hamburger {
    display: none;
  }

  /* Main content area style */
  .main {
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  /* Textarea style */
  .text-area {
    justify-content: center;
    align-items: flex-start;
  }

  /* H1 style */
  h1 {
    padding-left: 0;
  }

  /* Buttons style */
  .buttons {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding-right: 3.5em;
  }

  .button {
    width: 11em;
    height: 3em;
    margin-right: 2em;
  }

  /* Images style */
  .images {
    justify-content: center;
    align-items: flex-end;
    flex-direction: row-reverse;
    position: relative;
  }

  #second-img {
    position: relative;
    top: 2rem;
    left: 4.2rem;
  }
}

/*# sourceMappingURL=main.css.map */
